<h1>Sign Up</h1>
<div class="row">
  <div class="col-md-4">
    <%= simple_form_for User.new do |f| %>
      <%=f.input :full_name, label: 'Your name:' %>
      <%=f.input :email, label: 'Your email:', placeholder: 'user@domain.com' %>
      <%=f.input :password, label: 'Create a password:' %>
      <%=f.input :password_confirmation, label: 'Type your password again:' %>
      <%=f.button :submit, label: "Sign Up" %>
    <%end%>
  </div>
</div>
