<h1><%= @game.home_team %> v. <%= @game.away_team %></h1>

<h1> Chat </h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for [@game, Message.new], url: game_messages_path(@game), remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send" %>
<% end %>

<%= subscribe_to "/messages/#{@game.id}" %>

